<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Eduardo Meirelles Nogueira - Desenvolvedor
        </title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <div class="div1">
            <div class="menu"> <!--menu-->
                {% for i in menu %}
                <div class="menu_item" id="{{i.tag}}">
                    <h3>{{i.text}}</h3>
                </div>
                {% endfor %}
            </div>
        </div>

        <div id="divMainPerfil">
            <div class="div2">
                <div class="resumo"> <!--foto, pequeno texto-->
                    <div class="imagem">
                        <img src="static/eduardo.jpg" alt="Eduardo"/>
                    </div>
                    <div class="perfil item">
                        {% for i in perfil %}
                        <h1>{{i.nome}}</h1>
                        <h3>{{i.objetivo}}</h3>
                        <p>{{i.email}}</p>
                        <p>{{i.telefone}}</p>
                        {% endfor %}
                        <div class="bloco_icone">
                            {% for i in icones %}
                            <div class="icone">
                                <a href="{{i.link}}" target="_blank"><img src="{{i.src}}" alt="Logo {{i.icone}}"></a>
                            </div>
                            {% endfor %}   
                        </div>               
                    </div>
                </div>
            </div>
    
            <div class="div3">
                <div class="curriculo"> <!--currículo-->
                    <div class="experiencia"> <!--experiência-->
                        <h2>Experiência Profissional</h2>
                        {% for i in experiencia %}
                        <div class="item">
                            <h3>{{i.cargo}}</h3>
                            <p>{{i.empresa}}<br/>{{i.periodo}}<br/><i>{{i.local}}</i></p>
                            <p style="font-size:medium;">{{i.descricao}}</p>
                                {% for v in i['items'] %}
                                <ul>   
                                    <li>{{v}}</li> 
                                </ul>
                                {% endfor %}
                        </div>
                        {% endfor %}        
                    </div>

                    <div class="formacao"> <!--formação e habilidades-->      
                        <h2>Formação</h2>
                        {% for i in formacao %}
                        <div class="item">
                            <h3>{{i.curso}}</h3>
                            <p>{{i.instituicao}} - {{i.periodo}}<br/><i>{{i.local}}</i></p>
                        </div>
                        {% endfor %}
                                         
                        <h2>Habilidades</h2>
                        <div class="item">
                            <h3>Soft Skills</h3>
                            <div>
                                <ul>
                                    {% for i in soft_skills %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>  
                            </div>                                                  
                            <h3>Hard Skills</h3>
                            <div class="hard-skills">                          
                                {% for i in hard_skills %}
                                <p>{{i.skill}}</p>
                                <div class="barra-{{i.tag}}">
                                    <div class="barras" id="{{i.tag}}"></div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <h2>Cursos Complementares</h2>
                        {% for i in cursos %}
                        <div class="item">
                            <h3>{{i.curso}}</h3>
                            <ul>
                                <li>{{i.instituicao}} – ({{i.duracao}}) – {{i.ano}}</li>
                            </ul>
                        </div>
                        {% endfor %}
                            
                        <h2>Idiomas</h2>
                        <div class="item">
                            <ul>
                                {% for i in idiomas %}
                                <li><h3>{{i}}</h3></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <h2>Experiência Internacional</h2>
                        <div class="item">
                            {% for i in internacional %}
                            <h3>{{i.pais}}</h3>
                            <p>{{i.local}} - {{i.periodo}}</p>
                            <ul>
                                {% for v in i['descricao'] %} 
                                <li>{{v}}</li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </div>
                        <h2>Interesses</h2>
                        <div class="item">
                            <ul>
                                {% for i in interesses %}
                                <li><h3>{{i}}</h3></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="divMainPortifolio" class="div_main">
            <div class="div2 portifolio">
                <div class="projetos"> 
                    <div class="titulo">
                        <h1>Projetos</h1>
                    </div>
                    <div class="bloco_divisoria">
                        <div class="divisoria"></div>
                    </div>
                    {% for i in projetos %} 
                    <div class="item_projetos"> <!--Projeto Módulo 2-->                   
                        <div class="texto_portifolio">
                            <h2>{{i.nome}}</h2>
                            <p>{{i.descricao}}</p>
                            <br />
                            {% if i.git != '' %}
                                <p><a href="{{i.git}}" target="_blank"><b>GitHub</b></a><br />
                            {% endif %}
                            {% if i.link != '' %}
                                <a href="{{i.link}}"><b>Link do Projeto</b></a>
                            {% endif %}
                                </p>                           
                        </div>
                        <div class="imagem_portifolio">
                            <img src="{{i.img}}" alt="{{i.nome}}">
                        </div> 
                    </div>
                    <div class="bloco_divisoria">
                        <div class="divisoria"></div>
                    </div>
                    {% endfor %}
                </div> 
            </div>
        </div>
        <div id="divMainCertificado" class="div_main">
            <div class="div2 certificado">
                <div class="titulo">
                    <h1>Certificados</h1>
                </div>
                
            </div>
        </div>
        <div class="rodape"> 
            <h3>2022 - Desenvolvido por Eduardo Meirelles Nogueira bla</h3>
        </div>
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>