<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Eduardo Meirelles Nogueira - Desenvolvedor
        </title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        

    </head>
    <body>
        <div class="div1">
            <div class="menu"> <!--menu-->
                <div class="menu_item" id="perfil">
                    <h3>Perfil</h3>
                </div>
                <div class="menu_item" id="portifolio">
                    <h3>Portifolio</h3>
                </div>
            </div>
        </div>
        <div class="div-main">
            <div class="div2">
                <div class="resumo"> <!--foto, pequeno texto-->
                
                    <div class="imagem">
                        <img src="static/eduardo.jpg" alt="Eduardo"/>
                    </div>
                    
                    <div class="perfil item">
                        <h1>Eduardo Meirelles Nogueira</h1>
                        <h3>Desenvolvedor Python, HTML5, CSS3</h3>
                        <p>edumeirelles@yahoo.com.br<br/>(16) 99260 - 1155<br/>
                        <a href="http://www.linkedin.com/in/eduardo-meirelles-nogueira/" target="_blank">linkedin.com/in/eduardo-meirelles-nogueira/</a>
                        <br/><a href="http://www.facebook.com/edumeirelles" target="_blank">facebook.com/edumeirelles</a>
                        <br/><a href="http://www.github.com/edumeirelles" target="_blank">github.com/edumeirelles</a></p>
                    </div>
                </div>
            </div>
    
            <div class="div3">
                <div class="curriculo"> <!--currículo-->
                    <div class="experiencia"> <!--experiência-->
                        <h2>Experiência Profissional</h2>
                        <div class="item">
                            <h3>Bluemer - Estudante de Programação</h3>
                            <p>BlueEdTech<br/>mai/2021 - Atualmente<br/><i>Home Office</i></p>
                            <p>Atualmente sou estudante de programação e desenvolvimento na Blue EdTech</p>
                                <ul>   
                                    <li>Lógica de Programação</li>
                                    <li>Desenvolvimento de Software</li>
                                    <li>Analytics</li>
                                    <li>Python, HTML5, CSS3, JavaScript, C#</li> 
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Day Trader</h3>
                            <p>Autônomo<br/>mai/2020 - fev/2021<br/><i>Home Office</i></p>
                                <ul>
                                    <li>Operei no mercado financeiro operando mini contratos futuros de Dólar e Índice Bovespa</li>
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Relacionamento com o Cliente</h3>
                            <p>Break & Go<br/>mar/2018 - fev/2020<br/><i>São Paulo/SP</i></p>
                                <ul>
                                    <li>Atendimento ao cliente</li>
                                    <li>Planejamento estratégico de prospecção e expansão</li>
                                    <li>Análise de despesas e custos</li>
                                    <li>Otimização de suprimentos</li>
                                </ul>
                                
                        </div>
                        <div class="item">
                            <h3>Analista Administrativo</h3>
                            <p>RIOVIVO - Saneamento e Sustentabilidade<br/>mar/2017 - jan/2018<br/><i>Home Office</i></p>
                                <ul>
                                    <li>Elaboração de relatórios gerenciais e indicadores de desempenho</li>
                                    <li>Interface com o departamento municipal de água e esgoto de Uberlândia</li>
                                    <li>Emissão de medição de serviços prestados para faturamento</li>
                                    <li>Estimativa de faturamento de serviços futuros</li> 
                                </ul>
                                
                        </div>
                        <div class="item">
                            <h3>Analista Administrativo</h3>
                            <p>HMG Engenharia<br/>abr/2014 - mai/2016<br/><i>Pouso Alegre/MG</i></p>
                                <ul>
                                    <li>Responsável por rotinas administrativas, controle de fluxo de caixa, aquisições, cálculo de tributos, atendimento ao cliente, preparação de contratos imobiliários</li>
                                    <li>Criação e administração do website da empresa, elaboração e gerenciamento de publicidade em mídias sociais e mídia impressa</li>
                                    <li>Responsável por operações no mercado financeiro – Dólar e Índice Bovespa Futuros</li>
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Analista Administrativo - M.I.S.</h3>
                            <p>Sanchez & Sanchez Advogados Associados<br/>jan/2013 - fev/2014<br/><i>Ribeirão Preto/SP</i></p>
                                <ul>
                                    <li>Responsável pela elaboração de relatórios gerenciais e indicadores de desempenho</li>
                                    <li>Atuação no setor de suporte cumprindo tratamento de informações e enriquecimento do banco de dados da empresa</li>
                                    <li>Participação efetiva no projeto de implantação e migração de dados para o sistema integrado de cobrança</li>
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Auxiliar de Logística</h3>
                            <p>Espaço Livre Eventos<br/>ago/2012 - out/2012<br/><i>Ribeirão Preto/SP</i></p>
                                <ul>
                                    <li>Elaboração de cálculos para carregamento de materiais com o objetivo de maximizar a eficiência do transporte de materiais reduzindo custos da logística</li>
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Técnico em Informática</h3>
                            <p>CODERP<br/>fev/2009 - jul/2012<br/><i>Ribeirão Preto/SP</i></p>
                                <ul>
                                    <li>Manutenção, instalação e configuração de microcomputadores, impressoras e redes</li>
                                    <li>Implantação da rede de fibra óptica para transmissão de dados entre as unidades públicas municipais</li>
                                </ul>
                        </div>
                        <div class="item">
                            <h3>Auxiliar Administrativo</h3>
                            <p>Verocheque Refeições<br/>fev/2008 - set/2008<br/><i>Ribeirão Preto/SP</i></p>
                                <ul>
                                    <li>Cadastro de clientes</li>
                                    <li>Suporte na área de T.I.</li>
                                    <li>Auxiliar do setor financeiro</li>
                                </ul>
                        </div>       
        
                    </div>
                    <div class="formacao"> <!--formação e habilidades-->
        
                        <h2>Formação</h2>
                        <div class="item">
                            <h3>Gerenciamento de Projetos - Práticas do PMI</h3>
                            <p>Centro Universitário SENAC - mar/2012 - dez/2013<br/><i>Ribeirão Preto/SP</i></p>
                        </div>
                        <div class="item">
                            <h3>Administração</h3>
                            <p>Universidade Paulista - UNIP - fev/2008 - dez/2011<br/><i>Ribeirão Preto/SP</i></p>                    
                        </div>
                    
                        <h2>Habilidades</h2>
                        <div class="item">
                            <h3>Soft Skills</h3>
                            <div>
                                <ul>
                                    {% for i in soft_skills %}
                                    <li>{{i}}</li>
                                    {% endfor %}
                                </ul>  
                            </div>
                                                  
                            <h3>Hard Skills</h3>
                            <div class="hard-skills">

                                {% for i in hard_skills %}
                                <p>{{i.skill}}</p>
                                <div class="barra-{{i.tag}}">
                                    <div class="barras" id="{{i.tag}}"></div>
                                </div>
                                {% endfor %}

                            </div>
                        </div>
                        <h2>Cursos Complementares</h2>
                        <div class="item">
                            <h3>Gestão do Risco de Mercado</h3>
                            <ul>
                                <li>ANBIMA – (18h) - 2020</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Planejamento de Investimentos</h3>
                            <ul>
                                <li>ANBIMA – (13h) - 2020</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Viver de Mercado 5.0 (Daytrade Dólar e Índice Bovespa)</h3>
                            <ul>
                                <li>Infomoney (35h) – 2020</li>
                            </ul>
                        </div>  
                        <div class="item">
                            <h3>Aprenda a Investir na Bolsa de Valores 3.0</h3>
                            <ul>
                                <li>Infomoney (40h) – 2020</li>
                            </ul>
                        </div>
                        <div class="item">
                            <h3>Fundamentals of Audio and Music Engineering - Musical Sound & Electronics</h3>
                            <ul>
                                <li>University of Rochester – 2013</li>
                            </ul>
                        </div>   
                        <div class="item">
                            <h3>Infraestrutura de Redes LAN & WAN</h3>
                            <ul>
                                <li>Center Cursos (40h) – 2012</li>
                            </ul>
                        </div> 
                            
                        <h2>Idiomas</h2>
                        <div class="item">
                            <ul>
                                <li><h3>Inglês Avançado</h3></li>
                                <li><h3>Espanhol Básico</h3></li>
                            </ul>
                        </div>
                        <h2>Experiência Internacional</h2>
                        <div class="item">
                            <h3>Estados Unidos </h3>
                            <p>Okemo Mountain Resort - Vermont - dez/2010 - mar/2011</p>
                            <ul>
                                <li>Programa Work and Travel</li>
                            </ul>
                        </div>
                        <h2>Interesses</h2>
                        <div class="item">
                            <ul>
                                {% for i in interesses %}
                                <li><h3>{{i}}</h3></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div> <!--rodapé-->
    
            </div>
        </div>
        
        <script type="text/javascript" src="/static/script.js"></script>
    </body>
</html>