<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas - Projeto Calcme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    {% include 'header.html' %}
    
    {% if sucesso %} 

        <div style="padding: 31px;" >
            <span class="alert alert-success">Registro removido com sucesso!</span>
        </div>

    {% elif registro %}

        <h1 class="display-4" style="margin: 0 31px;">Remover Registro</h1>

        <div style="padding: 0 31px;">
            <h3 class="lead">Tem certeza que deseja remover o registro {{ registro.nome }}?</h3><br/>
            <a class="btn btn-danger" href="/delete/{{ registro.id }}/confirmed" >Remover</a>
            <a class="btn btn-primary" href="/read">Cancelar</a>
        </div>

    {% else %}

        <div style="padding: 31px;" >
            <span class="alert alert-danger">Nenhum registro encontrado!</span>
        </div>
 
    {% endif %}
       
</body>
</html>