<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Pessoas - Projeto Calcme</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    {% include 'header.html' %}
    
    <h1 class="display-4" style="margin: 0 31px;">{{registro.nome}}</h1>

    <div style="padding: 10px 31px;">
        <table class="table table-striped" >
            {% for i in tabela %}
                {% for k,v in i.items() %}
                    <tr>
                        <td>{{v}}:</td><td>{{registro[k]}}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
    </div>
</body>
</html>