<form>
    <div class="input-group mb-3" style="width: 50%">
        <input type="text" name="search" class="form-control" placeholder="Buscar" aria-label="Buscar ID" aria-describedby="button-addon2">
            
        <input type="submit" asp-controller="Cep" asp-action="Read" class="btn btn-outline-secondary" id="button-addon2" value="Buscar no Banco de Dados!" />
        <input type="submit" asp-controller="Cep" asp-action="WebSearch" class="btn btn-outline-secondary" id="button-addon2" value="Buscar na Web!" />
    </div>
</form>
@if (ViewBag.ErrorMessage != "")
            {
                <p>@ViewBag.ErrorMessage</p>
            }
